.album-thumbnail-card {
    width: 18rem;
    .album-thumbnail {
      height: 200px;
      width: 200px;
      margin: auto;
    }
    .card-title {
      height: 75px;
      overflow: auto;;
    }
  }
  
  